<a href="https://colab.research.google.com/github/RodeTavera/KOF/blob/main/Conexion_ADLS_KOF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install azure-storage-file-datalake azure-identity pyarrowfs_adlgen2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting azure-storage-file-datalake
  Downloading azure_storage_file_datalake-12.10.0-py3-none-any.whl (245 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 245.7/245.7 KB 13.2 MB/s eta 0:00:00
Collecting azure-identity
  Downloading azure_identity-1.12.0-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.5/135.5 KB 10.1 MB/s eta 0:00:00
Collecting azure-storage-blob<13.0.0,>=12.15.0
  Downloading azure_storage_blob-12.15.0-py3-none-any.whl (387 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 387.8/387.8 KB 23.9 MB/s eta 0:00:00
Collecting azure-core<2.0.0,>=1.26.0
  Downloading azure_core-1.26.3-py3-none-any.whl (174 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.5/174.5 KB 14.7 MB/s eta 0:00:00
Collecting isodate>=0.6.1
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 KB 2.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from azure-storage-file-datalake) (4.5.0)
Collecting msal-extensions<2.0.0,>=0.3.0
  Downloading msal_extensions-1.0.0-py2.py3-none-any.whl (19 kB)
Collecting cryptography>=2.5
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 66.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from azure-identity) (1.15.0)
Collecting msal<2.0.0,>=1.12.0
  Downloading msal-1.21.0-py2.py3-none-any.whl (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 KB 5.8 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.8/dist-packages (from azure-core<2.0.0,>=1.26.0->azure-storage-file-datalake) (2.25.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=2.5->azure-identity) (1.15.1)
Collecting PyJWT[crypto]<3,>=1.0.0
  Downloading PyJWT-2.6.0-py3-none-any.whl (20 kB)
Collecting portalocker<3,>=1.0
  Downloading portalocker-2.7.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=2.5->azure-identity) (2.21)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.26.0->azure-storage-file-datalake) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.26.0->azure-storage-file-datalake) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.26.0->azure-storage-file-datalake) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.26.0->azure-storage-file-datalake) (4.0.0)
Installing collected packages: PyJWT, portalocker, isodate, cryptography, azure-core, azure-storage-blob, msal, azure-storage-file-datalake, msal-extensions, azure-identity
Successfully installed PyJWT-2.6.0 azure-core-1.26.3 azure-identity-1.12.0 azure-storage-blob-12.15.0 azure-storage-file-datalake-12.10.0 cryptography-39.0.1 isodate-0.6.1 msal-1.21.0 msal-extensions-1.0.0 portalocker-2.7.0

# Conectar archivos ejemplo

In [ ]:
import os, uuid, sys
from azure.identity import DefaultAzureCredential
from azure.storage.filedatalake import DataLakeServiceClient
from azure.core._match_conditions import MatchConditions
from azure.storage.filedatalake._models import ContentSettings

In [ ]:
def initialize_storage_account(storage_account_name, storage_account_key):
    
    try:  
        global service_client

        service_client = DataLakeServiceClient(account_url="{}://{}.dfs.core.windows.net".format(
            "https", storage_account_name), credential=storage_account_key)
    
    except Exception as e:
        print(e)

In [ ]:
clave = input("Ingresa un token valido de azure: ")

In [ ]:
initialize_storage_account("staccdlaketracanalitqa01",clave)

In [ ]:
prueba = service_client.get_file_system_client("itesm-kof")

directorio = prueba.get_directory_client("datos")

file_client = directorio.get_file_client("ejemplo.csv")

download=file_client.download_file()

downloaded_bytes = download.readall()

with open("./ejemplo.csv", "wb") as my_file:
    my_file.write(downloaded_bytes)
    my_file.close()

pd.read_csv("ejemplo.csv")

      MATNR MARCA                                     MAKTX
0      2353   NaN           CC COLA BOT 300ML NRPET 12p GEN
1       611   NaN                      CC LIGHT 2 Lt NR 9pk
2    100320   NaN          Monster Pipeline 473 ml 6pk lata
3     98064   NaN             POWERADE ION4 MORAS 200M PNR6
4     98371   NaN          BARRITA NUTRI GRAIN MORAS 72 PZA
..      ...   ...                                       ...
995   84296   NaN          CIEL MANDARINA BOT 600ML NR 12PK
996   99364   NaN      ADES SOYA FRUTAL MANZANA 330 ml 4 pk
997   97536   NaN  DELVLLE NJA-MND 413ML NR VID 1X6U+2pulpy
998   97469   NaN                     MICKEY JUGOS MEZCLADA
999  170668   NaN    CHILES CHIPOTLES ADOB COST 220GR (1Pz)

[1000 rows x 3 columns]

# Conectar parquet ejemplo

In [ ]:
import azure.identity
import pandas as pd
import pyarrow.fs
import pyarrowfs_adlgen2

In [ ]:
handler=pyarrowfs_adlgen2.AccountHandler.from_account_name('staccdlaketracanalitqa01',"rlZLpZumIt1YJkW/5IGQmOlUSzo4hzOPOY3xIvFoHaY6pZhLj7eAFqp1kAFa1FLjmTfawc9RS2ipGxOTkF66RQ==")

fs = pyarrow.fs.PyFileSystem(handler)

df = pd.read_parquet('itesm-kof/datos/CLIENTES_ACTIVOS/MX.parquet', filesystem=fs)

In [ ]:
df

,KUNNR,BZIRK,ZZCRMA_LONG,ZZCRMA_LAT,STREET,STR_SUPPL3,CITY1,POST_CODE1,ZCAL_RM1,ZCAL_RM2
0,0100200258,MR0004,-99.151640000000,19.298147000000,CALZ DE TLALPAN,BOSQUES DE TETLAMEYA,COYOACAN,04730,OP Tradicional,Puestos
1,0100200264,MR0004,-99.146200000000,19.300600000000,PLAZA MEX DEL SUR,SAN LORENZO HUIPULCO,TLALPAN,14370,HM Tradicional,"Abts., Misc. y Minis"
2,0100201034,MR0004,-99.151407000000,19.322690000000,REY NEZAHUALCOYOTL,HUAYAMILPAS,COYOACAN,4390,HM Tradicional,"Abts., Misc. y Minis"
3,0100201103,MR0004,-99.147709000000,19.331491000000,SANTA CRUZ,LA CANDELARIA,COYOACAN,04910,HM Tradicional,"Abts., Misc. y Minis"
4,0100201526,MR0004,-99.159580000000,19.328860000000,AVENIDA ESCUINAPA,PEDREGAL DE SANTO DOMINGO,COYOACAN,04369,HM Tradicional,"Abts., Misc. y Minis"
...,...,...,...,...,...,...,...,...,...,...
757994,1950063112,MR0315,-99.902878333333,16.861091666667,AVENIDA CONSTITUYENTES,PROGRESO,ACAPULCO DE JUÁREZ,39350,HM Tradicional,Otros HM
757995,1950063378,MR0324,-101.557626666667,17.638521666667,CALLE JUAN ÁLVAREZ,ZIHUATANEJO CENTRO,ZIHUATANEJO DE AZUETA,40890,OP Tradicional,Comidas
757996,1950063421,MR0321,-97.985676666667,16.489113333333,CALLE TRAS LA IGLECIA,SAN PEDRO ATOYAC,SAN PEDRO ATOYAC,71710,HM Tradicional,Otros HM
757997,1950063482,MR0324,-101.645605000000,17.681581666667,CALLE PLAYA LINDA,BARRIO NUEVO,ZIHUATANEJO DE AZUETA,40881,OP Tradicional,Comidas
757998,1950063629,MR0315,-99.857861666667,16.880281666667,CALLE C AGUJON 169,LOMA BONITA,ACAPULCO DE JUÁREZ,39620,HM Tradicional,Otros HM